@model Person
<div>
    <h3>Ввести данные</h3>
    <form action="/InputPerson/Checkout" method="post">
        <div>
            <label asp-for="Fio.Name"></label>
            <div>
                <input asp-for="Fio.Name" class="form-control" />
                <span asp-validation-for="Fio.Name" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Fio.Surname"></label>
            <div>
                <input asp-for="Fio.Surname" class="form-control" />
                <span asp-validation-for="Fio.Surname" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Fio.FatherName"></label>
            <div>
                <input asp-for="Fio.FatherName" class="form-control" />
                <span asp-validation-for="Fio.FatherName" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="NumberOfPhone"></label>
            <div>
                <input asp-for="NumberOfPhone" class="form-control" />
                <span asp-validation-for="NumberOfPhone" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Email"></label>
            <div>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Requirements"></label>
            <div>
                <input asp-for="Requirements" class="form-control" />
                <span asp-validation-for="Requirements" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" value="Отправить">
    </form>
</div>