@model House
@{
    string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle;
}


<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="House" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="Available" value="true"/>

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="div-box">
                <label asp-for="Img"></label>
                <input asp-for="Img" />
                <span asp-validation-for="Img"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>

