<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
    <header>
        <!--Верхнее меню-->
        <div class="top-menu">
            <ul>
                <li><a href="/Houses/ListHouses">Поиск</a></li>
                <li><a href="/InputHouse/Checkout">Разместить объявление</a></li>
                <li><a href="/html/contacts.html">Контакты</a></li>
                <li><a href="/InputPerson/Checkout">Ввести данные</a></li>
            </ul>
        </div>
    </header>
    <h2> REALtor </h2>
    <div>
        @RenderBody()
    </div>
    <footer>
        © 2021, All rights reversed
    </footer>
</body>
</html>
