@model House
<div class="popup-bg">
    <div class="popup">
        <button class="close-popup">X</button>
        <h1 id="paramsHeading">Параметры</h1>
        <form action="/Houses/Parameters">
            <p class="paramsText">Площадь недвижимости:</p>
            <p class="paramsText">от<input asp-for="Square" type="number" required autofocus>кв.м.</p>
            <p class="paramsText">Количество комнат:</p>
            <input asp-for="CountOfRooms" type="number" required>
            <p class="paramsText">Цена:</p>
            <p class="paramsText">от<input asp-for="Price" type="number" step="1000" required>рублей</p>
            <p class="paramsText">Район:</p>
            <p class="paramsText">Индустриальный<input asp-for="Area" value="Индустриальный" type="radio">Ленинский<input asp-for="Area" value="Ленинский" type="radio">Октябрьский<input asp-for="Area" value="Октябрьский" type="radio"></p>
            <p class="paramsText">Устиновский<input asp-for="Area" value="Устиновский" type="radio">Первомайский<input asp-for="Area" value="Первомайский" type="radio"></p>
            <p class="paramsText">Вид недвижимости:</p>
            <p class="paramsText">Гараж<input asp-for="StatusOfHome" value="Гараж" type="radio">Новостройка<input asp-for="StatusOfHome" value="Новостройка" type="radio">Старый ветхий дом<input asp-for="StatusOfHome" value="Старый ветхий дом" type="radio"></p>
            <p class="paramsText">Частный дом<input asp-for="StatusOfHome" value="Частный дом" name="property" type="radio">Старый многоэтажный дом<input asp-for="StatusOfHome" value="Старый многоэтажный дом" type="radio"></p>
            <p class="paramsText">Условия жизни:</p>
            <p class="paramsText">Холодная вода<input asp-for="coldWater" value ="true" type="checkbox" >Горячая<input asp-for="hotWater" value="true" type="checkbox">Электричество<input asp-for="electricity" value="true" type="checkbox"></p>
            <p class="paramsText">Газ<input asp-for="gas" value="true" type="checkbox"></p>
            <input type="submit" value="ГОТОВО">
        </form>
    </div>
</div>
<script src="jquery.min.js"></script>
<script src="script.js"></script>
