@model House
<div class="place-add">

    <form action="/InputHouse/Checkout" method="post">
        <h2 id="placeHeading">Разместить объявление</h2>
        <input type="hidden" asp-for="Available" value="false" />
        <p class="paramsText">Площадь недвижимости:</p>
        <p class="paramsText"><input asp-for="Square" type="number" required autofocus></p>
        <p class="paramsText">Количество комнат:</p>
        <p class="paramsText">
            студия<input asp-for="CountOfRooms" value="0" type="radio">
            1<input asp-for="CountOfRooms" value="1" type="radio">
            2<input asp-for="CountOfRooms" value="2" type="radio">
            3<input asp-for="CountOfRooms" value="3" type="radio">
            4<input asp-for="CountOfRooms" value="4" type="radio">
            >4<input asp-for="CountOfRooms" value="5" type="radio">
        </p>
        <p class="paramsText">Цена:</p>
        <p class="paramsText"><input asp-for="Price" type="number" step="1000" required>рублей</p>
        <p class="paramsText">Район:</p>
        <p class="paramsText">Индустриальный<input asp-for="Area" value="Индустриальный" type="radio">Ленинский<input asp-for="Area" value="Ленинский" type="radio">Октябрьский<input asp-for="Area" value="Индустриальный" type="radio"></p>
        <p class="paramsText">Устиновский<input asp-action="Area=Устиновский" name="area" type="radio">Первомайский<input asp-action="Area=Первомайский" name="area" type="radio"></p>
        <p class="paramsText">Вид недвижимости:</p>
        <p class="paramsText">Гараж<input asp-action="StatusOfHome = Гараж" name="property" type="radio">Новостройка<input asp-action="StatusOfHome=Новостройка" name="property" type="radio">Старый ветхий дом<input asp-action="StatusOfHome=Старый ветхий дом" name="property" type="radio"></p>
        <p class="paramsText">Частный дом<input asp-="StatusOfHome=Частный дом" name="property" type="radio">Старый многоэтажный дом<input asp-action="StatusOfHome=Старый многоэтажный дом" name="property" type="radio"></p>
        <p class="paramsText">Условия жизни:</p>
        <p class="paramsText">Холодная вода<input asp-for="coldWater" value="true" type="checkbox">Теплая вода <input asp-for="hotWater" value="true" type="checkbox">Электричество<input asp-for="electricity" value="true" type="checkbox"></p>
        <p class="paramsText">Газ<input asp-for="gas" type="radio"></p>
        <p class="textByForm">ФИО: <input asp-for="Seller.Fio" type="text" size="40" required></p>
        <p class="textByForm">Номер телефона: <input asp-for="Seller.NumberOfPhone" type="tel" size="40" required></p>
        <p class="textByForm">Электронная почта: <input asp-for="Seller.Email" type="email" size="40" required></p>
        <p class="textByForm">Адрес недвижимости: <input asp-for="Address" type="text" size="60" required></p>
        <p class="textByForm">Фото: <input asp-for="Img" type="text" required></p>
        <input type="submit" value="Отправить">
    </form>
</div>
